<div>
  <h2 id="page-heading" data-cy="ArticleHeading">
    <span jhiTranslate="appelOffreApp.article.home.title">Articles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="appelOffreApp.article.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-article"
        [routerLink]="['/article/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="appelOffreApp.article.home.createLabel"> Create a new Article </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="articles?.length === 0">
    <span jhiTranslate="appelOffreApp.article.home.notFound">No articles found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="articles && articles.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="designation">
            <span jhiTranslate="appelOffreApp.article.designation">Designation</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="actif">
            <span jhiTranslate="appelOffreApp.article.actif">Actif</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="codeSaisi">
            <span jhiTranslate="appelOffreApp.article.codeSaisi">Code Saisi</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="demandeOffre.id">
            <span jhiTranslate="appelOffreApp.article.demandeOffre">Demande Offre</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="categorie.id">
            <span jhiTranslate="appelOffreApp.article.categorie">Categorie</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let article of articles; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/article', article.id, 'view']">{{ article.id }}</a>
          </td>
          <td>{{ article.designation }}</td>
          <td>{{ article.actif }}</td>
          <td>{{ article.codeSaisi }}</td>
          <td>
            <div *ngIf="article.demandeOffre">
              <a [routerLink]="['/demande-offre', article.demandeOffre?.id, 'view']">{{ article.demandeOffre?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="article.categorie">
              <a [routerLink]="['/categorie', article.categorie?.id, 'view']">{{ article.categorie?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/article', article.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/article', article.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(article)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
