<div>
  <h2 id="page-heading" data-cy="DemandeOffreHeading">
    <span jhiTranslate="appelOffreApp.demandeOffre.home.title">Demande Offres</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="appelOffreApp.demandeOffre.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-demande-offre"
        [routerLink]="['/demande-offre/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="appelOffreApp.demandeOffre.home.createLabel"> Create a new Demande Offre </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="demandeOffres?.length === 0">
    <span jhiTranslate="appelOffreApp.demandeOffre.home.notFound">No demandeOffres found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="demandeOffres && demandeOffres.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="appelOffreApp.demandeOffre.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="quantite">
            <span jhiTranslate="appelOffreApp.demandeOffre.quantite">Quantite</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="appelOffre.id">
            <span jhiTranslate="appelOffreApp.demandeOffre.appelOffre">Appel Offre</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let demandeOffre of demandeOffres; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/demande-offre', demandeOffre.id, 'view']">{{ demandeOffre.id }}</a>
          </td>
          <td>{{ demandeOffre.description }}</td>
          <td>{{ demandeOffre.quantite }}</td>
          <td>
            <div *ngIf="demandeOffre.appelOffre">
              <a [routerLink]="['/appel-offre', demandeOffre.appelOffre?.id, 'view']">{{ demandeOffre.appelOffre?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/demande-offre', demandeOffre.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/demande-offre', demandeOffre.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(demandeOffre)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
